<!doctype html>
<html>
	<head>
		<title>Baki chat</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<style>
			html, body, .container, .chat-row, .chat-col {
				height: 100%;
			}

			body {
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				color: #333;
				background: #26292B;
				padding-top: 20px;
				padding-bottom: 80px;
			}

			.bottom-form {
				position: fixed;
				bottom: 20px;
				width: 100%;
			}

			.bottom-form input {
				width: 100%;
				border-radius: 2px;
				background: rgb(23, 105, 112);
				padding: 10px;
				border: none;
				color: #fff;
				border-radius: 2px;
			}

			.bottom-form button {
				width: 100%;
				padding: 10px;
				border: none;
				border-radius: 2px;
				background: #4BA151;
				color: #fff;
				font-weight: bold;
			}

			.msg-container {
				background: rgb(240, 240, 240);
				padding: 0;
				list-style: none;
				overflow-y: scroll;
			    overflow-x: hidden;
			    border-radius: 2px;

				scrollbar-face-color: #367CD2;
				scrollbar-shadow-color: #FFFFFF;
				scrollbar-highlight-color: #FFFFFF;
				scrollbar-3dlight-color: #FFFFFF;
				scrollbar-darkshadow-color: #FFFFFF;
				scrollbar-track-color: #FFFFFF;
				scrollbar-arrow-color: #FFFFFF;
			}

			.col-user-list,
			.msg-container {
				height: 95%;
			}

			.col-user-list {
				margin-left: -15px;
				background: #176970;
				padding: 10px 7px;
				color: #fff;
			}

			.col-user-list ul {
				list-style: none;
				font-size: 14px;
				padding: 0;
			}

			.msg-container::-webkit-scrollbar {
				width: 12px;
			}

			.msg-container::-webkit-scrollbar-track {
				border-radius: 2px;
				background: rgba(0, 0, 0, 0.7);
			}

			.msg-container::-webkit-scrollbar-thumb {
				border-radius: 2px;
				background: rgba(20, 80, 120, 0.7);
			}

			.msg-container li {
				padding: 10px 20px;
			}

			.msg-container li:nth-child(even) {
				background: rgb(23, 105, 112);
				color: #fff;
			}

			.header-row {
				background: #4BA151;
				color: #fff;
				margin-right: 0;
				margin-left: 0;
				padding: 5px;
			    border-radius: 2px;
			}

			.user-info-screen {
				background: rgba(0,0,0,0.8);
				position: fixed;
				height: 100%;
				width: 100%;
				z-index: 100;
			}
			.user-info {
				position: absolute;
				left: 50%;
				top: 20%;
				width: 400px;
				margin-left: -200px;
				padding: 30px;
				background: #4BA151;
				border-radius: 2px;
				text-align: center;
				color: #fff;
				box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
			}

			.user-info button {
				margin-top: 20px;
				padding: 5px 50px;
				border: none;
				border-radius: 2px;
				background: rgb(23, 105, 112);
				color: #fff;
				font-weight: bold;
			}

			.user-info h4,
			.user-info h2 {
				margin-bottom: 30px;
			}

			.input-username {
				color: #333;
				border-radius: 2px;
				border: none;
				padding: 2px 10px;
				margin-left: 5px;
			}
		</style>
	</head>
	<body ng-app="chatapp" ng-controller="chatappController">
		<div class="user-info-screen" ng-hide="chatJoined">
			<div class="user-info">
				<h2>Welcome to chatapp</h2>
				Your name:
				<input type="text" class="input-username" ng-model="userName">
				<button ng-click="joinChat()">Join</button>
			</div>
		</div>
		<div class="user-info-screen" ng-show="pmModal">
			<div class="user-info">
				<h4>Type your message to: {{pmUser.name}}</h4>
				<input type="text" class="input-username" ng-model="pmMsg">
				<button ng-click=sendPm(pmUser)>Send</button>
			</div>
		</div>
		<div class="container">
			<div class="row header-row">
				<div class="col-sm-8">
					Your name: {{userName}}
				</div>
				<div class="col-sm-4">Number of Users: {{noOfUsers}}</div>
			</div>
			<div class="chat-row row">
				<div class="chat-col col-sm-10">
					<ul class="msg-container">
						<li ng-repeat="msg in messageArray track by $index">{{::msg}}</li>
					</ul>
				</div>
				<div class="col-sm-2 col-user-list">
					User List:
					<ul>
						<li ng-repeat="user in userList track by $index"><span ng-click="sendPmModal(user)" style="cursor: pointer;">&#9993;</span> {{user.name}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bottom-form">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<input autocomplete="off" placeholder="Type here..." ng-model="userInput">
					</div>
					<div class="col-sm-2">
						<button ng-click="sendMsg()">Send</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.min.js"></script>
		<script>
			var chatapp = angular.module('chatapp', []);

			chatapp.controller('chatappController', chatappController);

			function chatappController($scope) {
				var socket = io();
				$scope.chatJoined = false;
				$scope.messageArray = [];
				$scope.noOfUsers = 0;
				$scope.userList = [];
				$scope.userName = '';
				$scope.pmModal = false;
				$scope.pmUser = '';
				$scope.pmMsg = '';

				$scope.joinChat = joinChat;
				$scope.sendMsg = sendMsg;
				$scope.sendPm = sendPm;
				$scope.sendPmModal = sendPmModal;

				function joinChat() {
					$scope.chatJoined = true;
					socket.emit('join', $scope.userName);
				}

				function sendMsg() {
					socket.emit('chat message', $scope.userInput, $scope.userName);
					$scope.userInput = '';
				}

				function sendPmModal(user) {
					$scope.pmModal = true;
					$scope.pmUser = user;
				}

				function sendPm(user) {
					$scope.pmModal = false;
					socket.emit('pm message', user.id, $scope.pmMsg, $scope.userName);
					$scope.messageArray.push('To ' + user.name + ': ' + $scope.pmMsg);
					$scope.pmMsg = '';
				}

				socket.on('chat message', function(msg) {
					$scope.messageArray.push(msg);
					$scope.$evalAsync();
				});

				socket.on('no of users', function(noOfUsers) {
					$scope.noOfUsers = noOfUsers;
					$scope.$evalAsync();
				});

				socket.on('people list', function(people) {
					$scope.userList.splice(0);
					_.forOwn(people, function(value, key) {
						$scope.userList.push(
							user = {
								name: value,
								id: key
							}
						);
					});
					$scope.$evalAsync();
				})
			}
		</script>
	</body>
</html>